In [19]:
phonebook =dict({'Chris':'555-111', 
    'David':'444-1111',
    'Katie':'333-2222'})

for key in phonebook:
    print (key)

Chris
David
Katie

In [23]:
phonebook.get('David')

'444-1111'

In [24]:
phonebook.keys()

dict_keys(['Chris', 'David', 'Katie'])

In [26]:
phonebook.popitem()

('Katie', '333-2222')

In [29]:
gradebook={'Alice': '85',
           'Bob': '90',
           'Charlie': '78',
           'Diana': '92'}
for key in gradebook:
    print (key)

Alice
Bob
Charlie
Diana

In [44]:
# print all names using keys function
gradebook.keys()

dict_keys(['Alice', 'Bob', 'Charlie', 'Diana'])

In [46]:
# print alll grades.
gradebook.values()

dict_values(['85', '90', '78', '92'])

In [48]:
# print all pairs
gradebook.items()

dict_items([('Alice', '85'), ('Bob', '90'), ('Charlie', '78'), ('Diana', '92')])

In [ ]:
# Update Bobs grade to 95
gradebook['Bob'] =95
gradebook

{'Alice': '85', 'Bob': 95, 'Charlie': '78', 'Diana': '92'}

In [51]:
# add new student (key, value) 'Ethan" with grade 88
gradebook['Ethan'] =88
gradebook

{'Alice': '85', 'Bob': 95, 'Charlie': '78', 'Diana': '92', 'Ethan': 88}

In [52]:
# We want to remove Charlie's grade using pop()
removed_gradebook = gradebook.pop('Charlie')
gradebook

{'Alice': '85', 'Bob': 95, 'Diana': '92', 'Ethan': 88}

In [53]:
# Remove last added student 
last_added= gradebook.popitem()
last_added

('Ethan', 88)

In [54]:
gradebook

{'Alice': '85', 'Bob': 95, 'Diana': '92'}

In [55]:
# clear the dictionary
gradebook.clear()
gradebook

{}

In [ ]:
# Each item above is in reference to the picture of the TPS Student Grade Manager####

In [59]:
number= [1,2,3,4]
squares ={}
for item in number:
    squares[item] =item**2

squares

{1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
squares ={item:item**2 for item in numbers}
# missing the bottom bitand top part may not be completed. KNow this is another way 
#dictionary is a data structure that involves (keys, & values)

In [ ]:
# This is about SETS 
# #****all items must be unique, and are useful for removing duplicates from list, check membership efficiently, and perfrom mathematical set operations
#Create a SET using {}: fruits ={'BLAH', 'BLah', 'BLAh'}

In [ ]:
# This is spliting each word in the string. This here down has the use of "sets"
sentence = 'hello world hello python world'
words= sentence.split()
words

['hello', 'world', 'hello', 'python', 'world']

In [ ]:
# How to find how many unique words are in you set
unique= set(words)
unique

{'hello', 'python', 'world'}

In [ ]:
#Finding Union of Sets
set1.union(set2)
# Finding the intersection of Sets
# This will take set1 ex 1,2,3 and set2 ex 3,4,5 then it will point out that the set is intersected at the union of 3 in this example.