# ðŸ Python Chapter 2: In-Class Exercise 

## **Instructions**
- Complete the following exercises by writing Python code in the provided cells.
- Follow the instructions carefully and test your code.
- If an error occurs, debug and correct it before moving on.
- Run each cell to see the results.
- Submit .html file to canvas
---

## **Exercise 1: Displaying Output**  
Write a program that prints the following output using the `print()` function:  

```
Hello, Python!
Welcome to programming.
```

In [6]:
print("Hello, Python!")
print("Welcome to programming.")

Hello, Python!
Welcome to programming.

## **Exercise 2: User Input**  
Write a program that asks the user for their name and age, then prints a message saying:  

```
Hello, [name]! You are [age] years old.
```

In [50]:
name =input("What is your name")
age =int(input("Enter your age"))
print(f"Hello, {name}! You are, {age} years old.")

TypeError: 'str' object is not callable

## **Exercise 3: Performing Calculations**  
Write a program that asks the user for two numbers and prints their sum, difference, and product.

In [51]:
print ((10 + 2), (10 - 2), (10 * 2))

12 8 20

## **Exercise 4: Variable Reassignment**  
Write a program that assigns a number to a variable, prints it, then reassigns a new value and prints it again.

In [51]:
# Assign value to a gross wage variable.
grosswage = 3000

# Assign a value of a net wage variable.
netpay = 2400

# Calculate the difference by subtracting net wage from gross wage. Assign the result ot pay.
pay = grosswage - netpay

# Display the difference in pay.
print ("Your deductions in pay are", pay)

Your deductions in pay are 600

## **Exercise 5: String Concatenation**  
Write a program that asks for the user's first and last name separately, then prints their full name.

In [36]:
name1 = input("What is your name?")
name2 = input("What is your name?") 
print(name1, name2)

first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
print(first_name, last_name)

David Mendez
David Mendez2

## **Exercise 6: Flow of Execution**  
Write a program that first prints "Start", then waits for user input, and finally prints "End".

In [106]:
# Start
a = 9
if a>100:
    print("a is great than 100")
else:print("a is less than 100")     
# End

a is less than 100

## **Exercise 7: Using Named Constants**  
Define a constant for the interest rate and use it to calculate the new balance after applying interest.  

- Define a constant named `INTEREST_RATE` and set it to **5% (0.05)**.  
- Ask the user to enter their **initial balance** as a floating-point number.  
- Calculate the **new balance** using the formula:  

  $ \text{new\_balance} = \text{balance} \times (1 + \text{INTEREST\_RATE}) $

- Display the new balance result

In [225]:
# Create a variable
initial_balance = 10000.00
print('What is your', 'initial_balance')
interest_rate = 0.05
amount= initial_balance * interest_rate
print(amount)


initial_balance = float('Enter your initial balance')

TypeError: 'str' object is not callable